.backgroundColor{
    background-color: #0866AB;
    border: 1px solid black;
}
.varLabel{
    margin-top: 25px;
    margin-left:20px;
    color: white;
}
.fileUpload{
    margin-left:20px;
}
.thumbnailCard{
    max-height: 200px;
    overflow-y: auto;
    margin-left:20px;
}
.sectionLabel{
    font-weight: bold;
    color: white;
}